parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/migrations

    ignoreErrors:
        - '#Call to an undefined method yii\\web\\IdentityInterface::#'
        - '#Call to an undefined method yii\\base\\Component::get[A-Za-z]+\(\)#'

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
